<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Training List</title>
</head>
<body>
<h1>Training List</h1>
<table>
    <tr>
        <th>Id</th>
<!--        <th>Date</th>-->
        <th>Distance</th>
        <th>Time</th>
        <th>amountOfCaloriesBurned</th>
        <th>Comments</th>
        <th></th>
    </tr>
    <tr th:each="training : ${trainings}">
        <td th:text="${training.getId()}"></td>
<!--        <td th:text="${training.getDate()}"></td>-->
        <td th:text="${training.getDistance()}"></td>
        <td th:text="${training.getTime()}"></td>
        <td th:text="${training.getAmountOfCaloriesBurned()}"></td>
        <td th:text="${training.getComments()}"></td>
    </tr>
</table>
</body>
</html>