<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Training Add</title>
</head>
<body>
<h1>Training Add</h1>
<form th:action="@{/trainings/add}" method="post" th:object="${training}">
    Date: <input type="date" th:field="*{date}" th:value="*{date}">
    Distance[m]: <input type="number" th:field="*{distance}" th:value="*{distance}">
    Time[HH:mm:SS]: <input type="text" th:field="*{time}" th:value="*{time}">
    AmountOfCaloriesBurned[Kcal}: <input type="number" th:field="*{amountOfCaloriesBurned}" th:value="*{amountOfCaloriesBurned}">
    Comments: <input type="text" th:field="*{comments}" th:value="*{comments}">
    <input type="submit">
</form>
</body>
</html>